@font-face {
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/NotoSerifKR-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/NotoSerifKR-Light.woff") format("woff");
}

@font-face {
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/NotoSerifKR-Medium.woff") format("woff");
}

@font-face {
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/NotoSerifKR-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Noto Serif KR";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/NotoSerifKR-Regular.woff") format("woff");
}
